Repository MarcusDunn/leftindust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarcusDunn, @Bvasilchikov, @AydanGaite

added an extra comma to nonrestrictive clause "or would like"
  ultra/packages/leftindust/src/features/Permissions/components/NoAccessBanner/NoAccessBanner.svelte
Owners: @AydanGaite

added an extra comma to nonrestrictive clause "or would like"
  ultra/packages/leftindust/src/features/Permissions/components/NoAccessBanner/NoAccessBanner.svelte
Owners: @AydanGaite

fix typo
  mockingbird/src/main/resources/dbchangelog.xml
Owners: @MarcusDunn, @Bvasilchikov

Add domain object for NameInfo
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/contact/Contact.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/contact/ContactDtoConverter.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/doctor/CreateDoctorServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/doctor/DoctorEntity.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/doctor/DoctorEntityToDoctorConverter.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/doctor/GraphQLDoctorExample.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/doctor/UpdateDoctorServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/CreatePatientServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/Patient.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/PatientEntity.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/PatientEntityToPatientConverter.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/PatientExampleDto.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/CreateNameInfoServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/NameInfo.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/NameInfoEntity.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/NameInfoRepository.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/NameInfoToNameInfoDtoConverter.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/ReadNameInfoService.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/UpdateNameInfoService.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/UpdateNameInfoServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/user/CreateMediqUserServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/user/MediqUser.kt
  mockingbird/src/main/resources/dbchangelog.xml
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/user/UserQueryControllerTest.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/util/ContactMother.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/util/DoctorMother.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/util/MediqUserMother.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/util/PatientMother.kt
Owners: @MarcusDunn, @Bvasilchikov

Add domain object for NameInfo
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/contact/Contact.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/contact/ContactDtoConverter.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/doctor/CreateDoctorServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/doctor/DoctorEntity.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/doctor/DoctorEntityToDoctorConverter.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/doctor/GraphQLDoctorExample.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/doctor/UpdateDoctorServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/CreatePatientServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/Patient.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/PatientEntity.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/PatientEntityToPatientConverter.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/PatientExampleDto.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/CreateNameInfoServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/NameInfo.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/NameInfoEntity.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/NameInfoRepository.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/NameInfoToNameInfoDtoConverter.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/ReadNameInfoService.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/UpdateNameInfoService.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/UpdateNameInfoServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/user/CreateMediqUserServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/user/MediqUser.kt
  mockingbird/src/main/resources/dbchangelog.xml
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/user/UserQueryControllerTest.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/util/ContactMother.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/util/DoctorMother.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/util/MediqUserMother.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/util/PatientMother.kt
Owners: @MarcusDunn, @Bvasilchikov

fix typo
  mockingbird/src/main/resources/dbchangelog.xml
Owners: @MarcusDunn, @Bvasilchikov

Fix nameinfo SQL typo
  mockingbird/src/main/resources/data-postgres.sql
Owners: @MarcusDunn, @Bvasilchikov

Fix nameinfo SQL typo
  mockingbird/src/main/resources/data-postgres.sql
Owners: @MarcusDunn, @Bvasilchikov

stopped building tags on every push in favor of releases
  .github/workflows/upload-docker.yml
Owners: @MarcusDunn

stopped building tags on every push in favor of releases
  .github/workflows/upload-docker.yml
Owners: @MarcusDunn

stopped building tags on every push in favor of releases (#193)
  .github/workflows/upload-docker.yml
Owners: @MarcusDunn

renamed packages from leftindust-(mockingbird/ultra) to just mockingbird/ultra
  .github/workflows/upload-docker.yml
Owners: @MarcusDunn

renamed packages from leftindust-(mockingbird/ultra) to just mockingbird/ultra (#194)
  .github/workflows/upload-docker.yml
Owners: @MarcusDunn

Create dependabot.yml
  .github/dependabot.yml
Owners: @MarcusDunn

Add id to NameInfo
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/NameInfo.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/NameInfoToNameInfoDtoConverter.kt
Owners: @MarcusDunn, @Bvasilchikov

Add id to NameInfo
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/NameInfo.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/person/NameInfoToNameInfoDtoConverter.kt
Owners: @MarcusDunn, @Bvasilchikov

Update dependabot.yml
  .github/dependabot.yml
Owners: @MarcusDunn

Update dependabot.yml
  .github/dependabot.yml
Owners: @MarcusDunn

changed build.gradle.kts to new kover syntax
  mockingbird/build.gradle.kts
Owners: @MarcusDunn, @Bvasilchikov

Update README.md
  README.md
Owners: @MarcusDunn

added an extra comma to nonrestrictive clause "or would like"
  ultra/packages/leftindust/src/features/Permissions/components/NoAccessBanner/NoAccessBanner.svelte
Owners: @AydanGaite

added an extra comma to nonrestrictive clause "or would like"
  ultra/packages/leftindust/src/features/Permissions/components/NoAccessBanner/NoAccessBanner.svelte
Owners: @AydanGaite

Surveys now properly complete
  ultra/packages/leftindust/src/apps/intake/App.svelte
  ultra/packages/leftindust/src/features/Helpers/index.ts
  ultra/packages/leftindust/src/features/Intake/IntakePage.svelte
  ultra/packages/leftindust/src/features/Patient/index.ts
  ultra/packages/leftindust/src/features/Record/RecordWizard.svelte
  ultra/packages/leftindust/src/features/Record/components/RecordConsumer/RecordConsumer.svelte
  ultra/packages/leftindust/src/features/Record/index.ts
Owners: @AydanGaite

Patient edit with more completed tests
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/CreatePatientDtoToCreatePatientConverter.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/UpdatePatientServiceImpl.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/patient/PatientMutationControllerTest.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/patient/UpdatePatientServiceImplTest.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/util/AddressMother.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/util/ContactMother.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/util/EmailMother.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/util/PatientMother.kt
Owners: @MarcusDunn, @Bvasilchikov

wip
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/survey/complete/CompleteSurveyEntity.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/survey/complete/CompleteSurveyRepository.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/survey/complete/CreateCompleteSurveyServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/survey/complete/ReadCompleteSurveyServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/survey/link/CreateSurveyLinkServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/survey/link/SurveyLinkEntity.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/survey/link/SurveyLinkRepository.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/survey/complete/CompleteSurveyDtoMutationControllerTest.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/survey/template/SurveyTemplateMutationControllerTest.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/util/SurveyLinkMother.kt
Owners: @MarcusDunn, @Bvasilchikov

Added dialog component
  ultra/packages/leftindust/src/features/Account/index.ts
  ultra/packages/leftindust/src/features/App/components/AppLayout/AppLayout.svelte
  ultra/packages/leftindust/src/features/Dashboard/DashboardPage.svelte
  ultra/packages/leftindust/src/features/Doctor/components/DoctorCell/DoctorSelectableCell.svelte
  ultra/packages/leftindust/src/features/UI/components/Dialog/Dialog.scss
  ultra/packages/leftindust/src/features/UI/components/Dialog/Dialog.svelte
  ultra/packages/leftindust/src/features/UI/components/Dialog/index.ts
  ultra/packages/leftindust/src/features/UI/components/Dialog/store.ts
Owners: @AydanGaite

Converted dialogs to new dialog
  ultra/packages/leftindust/src/features/App/components/AppLayout/AppLayout.svelte
  ultra/packages/leftindust/src/features/Assign/TemplateAssignPage.svelte
  ultra/packages/leftindust/src/features/Doctor/index.ts
  ultra/packages/leftindust/src/features/Intake/IntakePage.svelte
  ultra/packages/leftindust/src/features/Patient/index.ts
  ultra/packages/leftindust/src/features/Record/components/RecordConsumer/RecordConsumer.svelte
  ultra/packages/leftindust/src/features/Template/index.ts
  ultra/packages/leftindust/src/features/UI/components/Dialog/Dialog.svelte
Owners: @AydanGaite

wip
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/email/CreateEmailDtoToCreateEmailFallibleConverter.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/survey/complete/CreateCompleteSurveyServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/survey/link/SurveyLinkEntity.kt
Owners: @MarcusDunn, @Bvasilchikov

made validation work in a case insensitive way
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/validate/EmailAddress.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/validate/EmailAddressTest.kt
Owners: @MarcusDunn, @Bvasilchikov

fixed invalid not returning a list of dynamic tests
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/validate/EmailAddressTest.kt
Owners: @MarcusDunn, @Bvasilchikov

Removed unnecessary logging
  ultra/packages/leftindust/src/features/Account/index.ts
  ultra/packages/leftindust/src/features/Doctor/DoctorWizard.svelte
  ultra/packages/leftindust/src/features/Doctor/index.ts
  ultra/packages/leftindust/src/features/Intake/IntakePage.svelte
  ultra/packages/leftindust/src/features/Node/components/TemplateInputsNode/TemplateInputsNode.svelte
  ultra/packages/leftindust/src/features/Patient/PatientWizard.svelte
  ultra/packages/leftindust/src/features/Patient/index.ts
  ultra/packages/leftindust/src/features/Template/components/TemplateCalculations/TemplateCalculationInput.svelte
Owners: @AydanGaite

Added back some logging
  ultra/packages/leftindust/src/features/Template/components/TemplateCalculations/TemplateCalculationInput.svelte
Owners: @AydanGaite

Fe alert design (#221)
  ultra/packages/leftindust/src/features/Account/index.ts
  ultra/packages/leftindust/src/features/App/components/AppLayout/AppLayout.svelte
  ultra/packages/leftindust/src/features/Assign/TemplateAssignPage.svelte
  ultra/packages/leftindust/src/features/Dashboard/DashboardPage.svelte
  ultra/packages/leftindust/src/features/Doctor/components/DoctorCell/DoctorSelectableCell.svelte
  ultra/packages/leftindust/src/features/Doctor/index.ts
  ultra/packages/leftindust/src/features/Intake/IntakePage.svelte
  ultra/packages/leftindust/src/features/Node/components/TemplateInputsNode/TemplateInputsNode.svelte
  ultra/packages/leftindust/src/features/Patient/PatientWizard.svelte
  ultra/packages/leftindust/src/features/Patient/index.ts
  ultra/packages/leftindust/src/features/Record/components/RecordConsumer/RecordConsumer.svelte
  ultra/packages/leftindust/src/features/Template/index.ts
  ultra/packages/leftindust/src/features/UI/components/Dialog/Dialog.scss
  ultra/packages/leftindust/src/features/UI/components/Dialog/Dialog.svelte
  ultra/packages/leftindust/src/features/UI/components/Dialog/index.ts
  ultra/packages/leftindust/src/features/UI/components/Dialog/store.ts
Owners: @AydanGaite

fixed invalid not returning a list of dynamic tests
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/validate/EmailAddressTest.kt
Owners: @MarcusDunn, @Bvasilchikov

made validation work in a case insensitive way
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/validate/EmailAddress.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/validate/EmailAddressTest.kt
Owners: @MarcusDunn, @Bvasilchikov

fixed invalid not returning a list of dynamic tests
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/validate/EmailAddressTest.kt
Owners: @MarcusDunn, @Bvasilchikov

made validation work in a case insensitive way
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/validate/EmailAddress.kt
  mockingbird/src/test/kotlin/com/leftindust/mockingbird/validate/EmailAddressTest.kt
Owners: @MarcusDunn, @Bvasilchikov

finished create contact impl
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/LogMessage.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/contact/CreateContactService.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/contact/CreateContactServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/CreatePatientService.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/CreatePatientServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/PatientEntity.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/phone/CreatePhoneServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/phone/PhoneRepository.kt
Owners: @MarcusDunn, @Bvasilchikov

added result return type to create complete survey service
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/survey/complete/CompleteSurveyDtoMutationController.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/survey/complete/CreateCompleteSurveyService.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/survey/complete/CreateCompleteSurveyServiceImpl.kt
Owners: @MarcusDunn, @Bvasilchikov

made consistent with schema
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/contact/CreateContact.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/contact/CreateContactDto.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/contact/CreateContactDtoToCreateContactConverter.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/contact/CreateContactServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/CreatePatientServiceImpl.kt
  mockingbird/src/main/kotlin/com/leftindust/mockingbird/patient/PatientMutationController.kt
Owners: @MarcusDunn, @Bvasilchikov

.github/CODEOWNERS:

# Marcus Handles most of the infrastructure stuff which is stored in root and in .github
* @MarcusDunn
# Marcus also is the chef backend man - which is stored in `mockingbird`
/mockingbird @MarcusDunn @Bvasilchikov
# Aydan is the frontend guy - this is currently only stored in `ultra`
/ultra @AydanGaite
/.vscode @AydanGaite
